$backgroundColor : #0934EA;
$whiteBorder: 1px solid white;
$brandWhite : white;
$headerFontSize : 40px;
$limeGreenBorder : 5px solid #20D935;

body{
    background-color: silver;
}

#mainContainer {
    background-color: $backgroundColor;
    border-radius: 10px;
    height: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px 10px;    
    grid-template-areas: "About Portfolio Portfolio"
                         "Skills Skills Contact"                 
}

#navComponent {
    background-color: white;
    width: 100%;
    position: fixed;
}

#navLinks{
    text-align: right;
}


#aboutComponent{
    border: $whiteBorder;
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

#headShotPic{
   grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 2;
   grid-row-end: 2;
   margin-left: 10%;
   border-radius: 10px;
   border: $limeGreenBorder;
}
#contactComponent{
    grid-area: Contact;
    border: $whiteBorder;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#aboutHeader{
    grid-area: 1/1/1/1;
    justify-self: center;
    align-self: center;
}

.componentHeader{
    color:$brandWhite;
    font-size: $headerFontSize;
    text-decoration: underline;
    border-radius: 10px;
}

#aboutContentContainer{
    grid-column: 2/6;
    grid-row: 2/3;
    margin-right: 5%;
    margin-left: 10%;
    border: $limeGreenBorder;
    border-radius: 10px;
    background-color: white;
    color: black;
}

#skillsComponent{
    grid-area: Skills;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: $whiteBorder;
}

#skillsHeader{
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

#skillsIconContainer{
    grid-area: 2/1/2/6;
    margin: 1%;
    border: $limeGreenBorder;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1%;
}

#portfolioComponent{
    display: grid;
    grid-area: 2/1/2/6;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#portfolioGalleryContainer{
    padding-top: 4%; 
    background-color: black;
    margin: 1%;
    border: $limeGreenBorder;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 7%;
}

#projectOneContainer{
    background-color: green;
}

#portfolioComponentHeader{
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.portfolioImageContainer{
    
}

.galleryGif{
    width: 80%;
    height: 45%;
    align-self: center;
    justify-self: center;
    border: $whiteBorder;
    border-radius: 10px;
}

#wheelOfFortuneGif{
}

#bamazonGif{
}

#giphyGif{
}

#noirGif{
}

#rpgGif{
}

#triviaGif{
}

#angularIconContainer{
    grid-area: 1/1/1/1;
}
